@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Outfit:wght@300&display=swap');
:root {
    --primary-color: #6C63FF;
    --second-color: #64748b;
    --off-white: #99f6e4;
    --golden-yellow: #ffbd00;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

hr {
    margin: 2rem 0rem;
}


/* containers */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 500px;
    margin: auto;
}


/* links */

.link-primary {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem 2rem;
}

.link-secondary {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem 2rem;
}


/* lists */

.list-non-bullet {
    list-style-type: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/* navigation bar */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.navigation ul {
    text-align: right;
}

.nav-links {
    color: white;
    text-decoration: none;
    place-items: right;
    padding: 1rem 1rem;
    /* border: 1px solid white; */
}

.nav-brand {
    float: left;
    font-family: pushster;
    font-size: 1.5rem;
    max-width: 13rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    word-spacing: 0.3rem;
    color: white;
    /* border: 1px solid yellow; */
}

.link-active {
    font-weight: bold;
    text-decoration: underline;
}


/* header */

.hero {
    padding-top: 1rem;
}

.hero-heading {
    color: var(--second-color);
    text-align: center;
    padding-top: 1rem;
}

.hero-img {
    max-width: 400px;
    margin: auto;
    display: block;
}


/* section */

.section {
    padding: 2rem 0rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}


/* footer */

.nodeco {
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

.footer {
    /* border: px solid yellow; */
    background-color: var(--primary-color);
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-heading {
    font-weight: bold;
}